<nav class="navbar navbar-expand-lg" style="background-color: rgb(14, 0, 0);">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color: orange; font-size: 30px; margin-right: -2px;">
            <i class="fa-brands fa-amazon"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" href="/"
                        style="font-family: cursive; font-size: 19px;">Amona</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#" style="font-size: 17px;">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#" style="font-size: 17px;">Contact us</a>
                </li>
            </ul>
            <form class="d-flex" role="search" action="/search"
                style="margin-right: 170px; background-color: black; padding: 10px;" method="POST">
                <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
                <button class="btn" type="submit">Search</button>
            </form>
        </div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item mx-2" id="items">
                {% if cart | length < 1 %} <a class="nav-link text-white" href="/cart"><span
                        class="badge bg-success"></span> Cart
                    <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                    {% else %}
                    <a class="nav-link text-white" href="/cart"><span class="badge bg-success"></span> Cart
                        <i class="bi bi-{{ cart | length }}-square-fill"></i>
                    </a>
                    {% endif %}
            </li>
            <li class="nav-item mx-2" id="items">
                <a class="nav-link text-white" href="#"><span class="badge bg-success"></span> WishList
                    <i class="fa-solid fa-heart"></i>
                </a>
            </li>
            <li class="nav-item dropdown mx-2">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" , id="profileDropdown"
                    data-bs-toggle="dropdown" aria-hidden="false">
                    Account
                </a>
                <ul class="dropdown-menu" aria-labelledby="profileDropdown">


                </ul>
            </li>
        </ul>
    </div>
</nav>